* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  // background: rgba(32,32,43,1);
  // color: rgba(228,248,235,1); 
}

html, body, #root, .app {
  height: 100%;
}
